* {
    box-sizing: border-box;
  }
  
  .hidden {
    display: none;
  }
  
  html, body {
     color: #081c15;
     /* background-color: #d8f3dc;  */
     
     font-family: "Trebuchet MS, sans-serif";
     letter-spacing: 0.1em;
     height: 100%; 
     font-size: clamp(1rem, 2vw, 1.2rem); 
     text-align: center; 
  }
  
  html {
      display: table;
      margin: auto;
  }
  
  body {
    
  
    background-image: linear-gradient(to bottom, rgba(108, 173, 235, 0.3), rgba(174, 110, 196, 0.3)),url("nums.jpeg"); 
     background-repeat: repeat-x; 
     background-size: cover; 
     background-position: center; 
     height: 100%; 
     width: 100%; 
     overflow: hidden;
      display: table-cell;
      vertical-align: middle;
  }
  
  .loser{
    height: clamp(5rem, 5vw, 7rem); 
    width: clamp(9rem, 8vw, 11rem); 
  }
  
  .winner {
    height: clamp(7rem, 6vw, 9rem); 
    width: clamp(12rem, 13vw, 15rem); 
  }
  
  .btn{
    font-size: clamp(1rem, 1.25vw, 1.5rem);
    width: clamp(8rem, 8vw, 10rem); 
    height: clamp(1.5rem, 2vw, 3rem); 
  }
  
  input{
    font-size: clamp(1rem, 1.25vw, 1.5rem);
   width: clamp(10rem, 12vw, 12rem); 
    height: clamp(1.5rem, 3vw, 2rem); 
  }

  .btn{
    background-color: #c7b8f1;
    color: rgb(56, 56, 56); 
    border-radius: .3rem;
    font-size: clamp(.8rem, 1.25vw, 1rem);
    margin: 1em; 
}
  