/*
colors used: 
white: F8F6EE
light orange: D7AC83
light blue/green: CCDADB
cornflower blue: 8D9DCF
purple: 75749E
*/


html, body{
    color: #565574;
    position: relative; 
    text-shadow: .05vw .05vw rgba(0, 0, 0, 0.6); 

    align-items: center; 
    justify-content: center; 

    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 0.1em;
    scrollbar-color:   rgba(118, 146, 150, .75) rgba(141, 157, 207, .5) ; 
  }

  body{
    /* background: linear-gradient(45deg,  #769296,  #8D9DCF, #acd2d4, #8D9DCF, #769296 );  */
    background: linear-gradient(45deg,  rgba(141, 157, 207, .5), rgba(215, 172, 131, .5), rgba(141, 157, 207, .5) ,
    rgba(215, 172, 131, 0.5),   rgba(141, 157, 207, .5) ); 
      animation: gradient 20s ease infinite; 
      background-size: 400% 400%; 
      background-repeat: none;
  }

  @keyframes gradient{
    0%{
      background-position: 0% 50%; ;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0% 50%;
    }
  }
  

  p{
      color: #565574; 
      font-weight: bold;
      font-size: clamp(1rem, 3vw, 1.5rem);
  }
  
  h2{
    color: #ffffff; 
    font-weight: bold;
  }

  
  .profileContainer{
    margin: auto; 
    height: 100%;
    width: clamp(15rem, 19vw, 20rem);
    overflow: hidden;
    display: inline-block;
    position: relative;
    border-radius: .5rem;
    padding: 1rem; 
    background-color: #F8F6EE;
   
  }

  .profileImg{
      width: clamp(8rem, 9vw, 12rem);
      height: clamp(8rem, 9vw, 12rem); 
      border-radius: 5rem;
      
  }

  #about:hover{
    color: black; 
  }
  .link{
    color: #5e7274;
    
    border-radius: .5rem;
    padding: .3rem;
    text-shadow: .05vw .05vw rgba(0, 0, 0, 0.6); 
    font-weight: bolder;
    font-size: clamp(1rem, 3vw, 1.5rem);
  }
  .link:hover{
    color: #D7AC83;
  }

  a#gameLink{
    background-color: white;
  }

  .link2{
    color: #5e7274;

  } 
  .link2:hover{
    color: #D7AC83;
  }



  figcaption.text{
    font-size: clamp(1rem, 3vw, 1.5rem);
    text-shadow: .05vw .05vw rgba(0, 0, 0, 0.3); 

  }
  
  ::-webkit-scrollbar {
      width: clamp(.5rem, .65vw, .8rem);
  }
  /* Track */
  ::-webkit-scrollbar-track {
      background: rgba(141, 157, 207, .5); 
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: rgba(118, 146, 150, .75); 
      border-radius: .8em;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: rgba(117, 116, 158, .8); 
  }


  .video{
    height: clamp(20rem, 30vw, 40rem);
    width: clamp(40rem, 50vw, 60rem);
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
 
  img.preview{
    border-radius: .5rem;
    height: clamp(20rem, 30vw, 40rem);
    width: clamp(40rem, 50vw, 60rem);
  }
 
  .header{
    width: 75%; 
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .header, video{
    width: 75%; 

  }

